.Results {
    width: 85%;
    margin-top: 80px;
    box-shadow: 0 2px 3px gray;
    border: 1px solid lightgray;
    box-sizing: border-box;
}

.Root {
    width: 100%;
}

.Container {
    max-height: 800px;
}