.List {
    /*padding: 10px;*/
    /*text-align: center;*/
    /*width: 85%;*/
    /*font-size: small;*/
}

.Table {
    margin-top: 30px;
}

.Cell {
    font-size: small;
}

.Container {
    max-height: 500px;
}